* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  position: relative;
}

.container {
  width: 1366px;
  height: 768px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  align-items: flex-start;
  gap: 45px;

  justify-content: center;
  position: relative;
  z-index: 1;
}

.bg-top-left {
  position: absolute;
  top: -80px;
  left: -80px;
  width: 300px;
  height: 300px;
  background-image: url("./top-left-blob.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
  opacity: 0.95;
  transform: rotate(8deg);
}

.bg-bottom-right {
  position: absolute;
  bottom: -80px;
  right: -80px;
  width: 300px;
  height: 300px;
  background-image: url("./bottom-right-blob.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
  opacity: 0.95;
  transform: rotate(-12deg);
}

.calculator {
  background-color: #f5f5f5;
  width: 260px;
  height: 500px;
  border-radius: 30px;
  border: 5px solid #3da8f5;
  box-shadow: 0 0 10px 6px #d0e6f7;
  padding: 10px 10px;

  box-sizing: border-box;
  color: var(--text-color);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;

  margin-top: 170px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 60px;
}

.img2 {
  width: 70px;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.title h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.drp-img {
  width: 20px;
}

.cal2 .drp-img {
  filter: invert(1);
}

.symbol {
  width: 75px;
  margin-left: 65px;
}

.display {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: right;
  flex: 0;
}

.calculation span {
  font-size: 15px;
  color: rgb(29, 29, 29);
}

.answer span {
  font-size: 20px;
  font-weight: 600;
  color: rgb(29, 29, 29);
}

.buttons-container {
  flex: 1;
  width: 100%;
  background-color: rgb(229, 234, 238);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  padding: 15px;
  border-radius: 25px;
  margin-top: auto;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.btn {
  border: none;
  border-radius: 45%;
  width: 35px;
  height: 35px;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
  color: #3da8f5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  filter: brightness(0.9);
}

.btn img {
  width: 18px;
  height: 18px;
}

.bottom {
  height: 3px;
  width: 80px;
  background: black;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
